@font-face {
  font-family: 'Product Sans';
  src: url("./fonts/ProductSans-Regular.woff2"); }
body {
  margin: 0;
  padding: 0;
  font-family: 'Product Sans', Arial;
  background-color: #ddddff; }

.title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }
  .title h1 {
    font-size: 80px;
    text-decoration: underline;
    text-decoration-color: #acacff; }
  .title h3 {
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: #acacff; }
  .title hr {
    background-color: #dcdcf5 !important; }

.about__wrapper {
  background-color: #acacff !important;
  height: 50vh; }
  .about__wrapper .about__body {
    padding: 50px; }
    .about__wrapper .about__body h1 {
      padding-bottom: 30px;
      color: white; }
    .about__wrapper .about__body p {
      width: 75%;
      margin: 30px auto 0 auto;
      color: white; }

.skills {
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: -100px;
  max-width: 1100px;
  background: #fdfdfd none repeat scroll 0% 0%;
  box-shadow: rgba(12, 52, 75, 0.05) 0px 3px 3px;
  border-radius: 8px;
  opacity: 1;
  pointer-events: all; }
  .skills p {
    color: black; }
  .skills .icon {
    font-size: 30px;
    box-shadow: rgba(5, 5, 5, 0.05) 8px 8px 8px;
    padding: 20px;
    background-color: white;
    border-radius: 50%; }
    .skills .icon i {
      color: #9a5dfc; }
  .skills .skills__column {
    border-right: 1px solid #E6ECF8;
    padding: 0 60px; }
  .skills .skill__description {
    padding: 50px 0 0 0; }
    .skills .skill__description label {
      font-weight: bold;
      font-size: 1.1em; }
  .skills .tools-list {
    margin-top: 50px; }
    .skills .tools-list ul {
      margin-right: 35px; }
      .skills .tools-list ul li {
        list-style: none;
        margin-bottom: 20px; }

.my-work__wrapper {
  background-color: #ddddff !important; }
  .my-work__wrapper .my-work__body {
    padding: 50px;
    background: #fdfdfd none repeat scroll 0% 0%;
    box-shadow: rgba(12, 52, 75, 0.05) 0px 3px 3px;
    border-radius: 8px;
    opacity: 1;
    border: #E6ECF8; }
  .my-work__wrapper .header {
    padding: 50px 0; }
  .my-work__wrapper .video__wrapper {
    text-align: right; }
    .my-work__wrapper .video__wrapper video {
      width: 100%;
      padding: 1px;
      background-color: #fffbfe;
      border: 1px solid #fffbfe;
      border-radius: 2px; }
  .my-work__wrapper .description {
    text-align: left; }
    .my-work__wrapper .description h3 {
      font-size: 40px; }
    .my-work__wrapper .description p {
      width: 75%;
      margin: 5px; }
  .my-work__wrapper .website-btn {
    background-color: transparent;
    border-radius: 5px;
    background-color: #e0fbfc;
    text-align: center;
    transition: .5s ease all;
    color: black; }
    .my-work__wrapper .website-btn:hover {
      transform: scale(1.1); }

.contact__wrapper {
  height: 500px;
  background-color: #acacff; }
  .contact__wrapper .header {
    padding: 50px 0 0 0; }
  .contact__wrapper p {
    color: white;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%; }
  .contact__wrapper .contact__buttons {
    display: flex;
    justify-content: center; }
    .contact__wrapper .contact__buttons a {
      text-decoration: none;
      color: black;
      margin: 0 10px;
      font-size: 1.7rem;
      background-color: transparent;
      color: #fff;
      border-radius: 100%;
      height: 44px;
      width: 44px;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contact__wrapper .contact__buttons a i {
        color: white;
        font-size: 1.7rem; }
      .contact__wrapper .contact__buttons a .fa-linkedin {
        font-size: 1.3rem; }
    .contact__wrapper .contact__buttons a:hover {
      background-color: white;
      color: #445e93; }
      .contact__wrapper .contact__buttons a:hover i {
        color: #445e93; }

/*# sourceMappingURL=main.css.map */
