
body {
  margin: 0px;
  color: #444444;
}

* {
  margin: 0px;
  padding: 0px;
}

/* Aligns text in containers */
.border {
  width: 100%;
  text-align: center;
}

/* BLOCK #1*/
.block1-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;

}


/* Container with name and title */
.name-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 650px;
  background-col or: #FFFF;
}

/* Flex box for name */

.name-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.my-first-name {
  font-family: 'Questrial';
  font-size: 7em;
  text-decoration: underline;
  text-decoration-color: #FF8360;
  margin-right: 10px;
}

.my-last-name {
  font-family: 'Questrial';
  font-size: 7em;
  text-decoration: underline;
  text-decoration-color: #FF8360;
}

.title-flex {
  display: flex;
  justify-content: center;
  text-align: center;

}

 /* The word "Web" */
.text-web {
  font-family: 'Questrial';
  font-size: 5.5em;
  text-decoration: underline;
  text-decoration-color: #FF8360;
  text-underline-position: under;
  margin-right: 10px;

}
/* The word "Developer" */
.text-developer {
  font-family: 'Questrial';
  font-size: 5.5em;
  text-decoration: underline;
  text-decoration-color: #FF8360;
  text-underline-position: under;
}

/* BLOCK #2 */
/* "About Me" container */
.about-me {
  width: 100%;
  height: 330px;
  word-wrap: break-word;
  text-align: center;
  background-color: #f5e9dc;
  padding-top: 20px;
  border-bottom: 1px solid grey;
  font-family: 'Questrial';
  font-size: 20px;
}

 /* "About Me" text header */
.about-me-header {
  font-size: 3.4em;
  margin-bottom: 60px;

}

.about-text-container {
  text-align: center;
  height: 300px;
  width: 55%;
  margin-left: 22.5%;
  margin-right: 22.5%;
  margin-top: 2e\%;

}

/* "MY WORKS" BLOCK #3 */
.my-works-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60%;
  padding: 20px;
  background-color: #dcdcf5;
  border-bottom: 1px solid grey;
  font-family: 'Questrial';
}

.parent-ensemble-flex {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  width: 90%;
}

.sizing-container {
  width: 51%;
  padding: 25px;
}

.title-container {
  margin-bottom: 30px;
  font-size: 1.2em;
}

#title {
  margin-bottom: 10px
}

#tite-paragraph {
  font-size: 4em;

}

.parent-urban-snooze-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  justify-content: center;
  border-top: 1px solid grey;
  width: 90%;
  margin-bottom: 30px;
  padding: 50px;
}

.urban-snooze-description-container {
  width: 54%;
  height: 330px;
}

/* Ensemble video */
#ensemble-vid {
  width: 35%;
  height: 380px;
  position: relative;
  bottom: 25px;
}

/* Urban Snooze video */
#urban-snooze-vid {
  width: 35%;
  height: 380px;
}

.uncommon-parent-container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid grey;
  padding: 50px;
}

.parent-description {
  width: 70%;
  padding-left: 65px;
}

#uncommon-image {
  width: 87%;
}

.image-container {
  width: 52%;
}

/*  "CONTACT ME" BLOCK #4 */
.contact-div{
  height: 400px;
  background-color: #f5dcdc;
  padding-top: 20px;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: column;

}

.contact-text {
  font-family: 'Questrial';
  font-size: 20px;
}

/* Styling for all div titles */
#section-titles {
  font-family: 'Hammersmith One', monospace;
  margin: 0px;
  font-size: 3.4em;
  color: #444444;
}

.icon-container {
  color: grey;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 20px 20px 20px 20px;
}

.buttons {
  background-color: #cd5252;
  border: grey;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  text-align: center;
}

i {
  background-color: inherit;
  color: #444444;
}

.fa {
  color: #f5dcdc;
}

/* my email */
.email {
  font-family: 'Questrial';
  font-size: 1.7em;
}

.link-container {
  width: 40%;
  padding: 20px 0px;
  margin-bottom: 30px;
}

#links-to-website {
  font-family: 'Questrial';
  border: 2px solid #7979d9;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  margin-top: 50px;
}



.resume-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

#link-to-resume {
  font-family: 'Questrial';
  border: 2px solid #d97878;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

a {
  color: #444444;
}

a#links-to-website:hover {
  background-color: rgba(251,251,240, .7);
  color: #7979d9;
}

a#link-to-resume:hover {
  color: #ce5050;
  background-color: rgba(251,251,240, .7);
}


@media screen and (max-width: 776px) {
  * {
    display: block;
  }
}
