@font-face {
    font-family:  'Product Sans';
    src: url('./fonts/ProductSans-Regular.woff2')
}

// variables
$row-padding: 50px;
$header-padding-top-bottom: 50px 0;
$header-padding-top: 50px 0 0 0;
$main-bg-blue: #acacff;
$text-decoration-coral: #acacff;

body {
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', Arial;
    background-color: #ddddff
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    h1 {
        font-size: 80px;
        text-decoration: underline;
        text-decoration-color: $text-decoration-coral;
    }

    h3 {
        font-size: 60px;
        text-decoration: underline;
        text-decoration-color: $text-decoration-coral;
    }

    hr {
        background-color: #dcdcf5 !important;
    }
}

.about__wrapper {
    background-color: #acacff
    !important; 
    height: 50vh;
    .about__body { 
        padding: $row-padding; 
        h1 { 
            padding-bottom: 30px; 
            color: white;
        } 
          
        p {
            width: 75%;
            margin: 30px auto 0 auto;
            color: white;
        }
    }
}

.skills {
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: -100px;
    max-width: 1100px;
    background: #fdfdfd none repeat scroll 0% 0%;
    box-shadow: rgba(12, 52, 75, 0.05) 0px 3px 3px;
    border-radius: 8px;
    opacity: 1;
    pointer-events: all;

    p {
        color: black;
    }

    .icon {
        font-size: 30px;
        box-shadow: rgba(5, 5, 5, 0.05) 8px 8px 8px;
        padding: 20px;
        background-color: white;
        border-radius: 50%;

        i {
            color: rgb(154, 93, 252);
        }
    }

    .skills__column {
        border-right: 1px solid #E6ECF8;
        padding: 0 60px;

    }

    .skill__description {
        padding: 50px 0 0 0;

        label {
            font-weight: bold; 
            font-size: 1.1em;
        }
    }

    .tools-list {
        margin-top: 50px;
        ul {
            margin-right: 35px;
            li {
                list-style: none;
                margin-bottom: 20px;
            }
        } 
    }
}


.my-work__wrapper {
    background-color: #ddddff !important;
    .my-work__body { 
        padding: $row-padding;
        background: #fdfdfd none repeat scroll 0% 0%;
        box-shadow: rgba(12, 52, 75, 0.05) 0px 3px 3px;
        border-radius: 8px;
        opacity: 1;
        border: #E6ECF8;
    }
    .header { padding: $header-padding-top-bottom; }

    .video__wrapper {
        text-align: right;
        video {
            width: 100%;
            padding: 1px;
            background-color: #fffbfe;
            border: 1px solid #fffbfe;
            border-radius: 2px;
        }
    }

    .description {
        text-align: left;
        h3 {
            font-size: 40px;
        }
        
        p { 
            width: 75%;
            margin: 5px; 
        }
    }

    .website-btn {
        background-color: transparent;
        border-radius: 5px;
        background-color: #e0fbfc;
        text-align: center;
        transition: .5s ease all;
        color: black;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.contact__wrapper {
    height: 500px;
    background-color: #acacff;
    .header { padding: $header-padding-top; }
    p { 
        color: white; 
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .contact__buttons {
        display: flex;
        justify-content: center;
        a {
            text-decoration: none;
            color: black;
            margin: 0 10px;
            font-size: 1.7rem;
            background-color: transparent;
            color: #fff;
            border-radius: 100%;
            height: 44px;
            width: 44px;
            border: 2px solid rgba(255,255,255,0.3);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: white;
                font-size: 1.7rem;
            }

            .fa-linkedin {
                font-size: 1.3rem;
            }
        }

        a:hover {    
            background-color: white;
            color: #445e93;
                i {
                    color: #445e93;
            }
        }
    }
}


